@import "../../scss/variables.scss";

.home-page-container {
  background: var(--main-bg-1);
  padding-top: 100px;

  .scroll::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 10px;
    border-right: 1px solid #d5d5d5;

  }

  /*.home-page-container-books {
    display: flex;
    flex-flow: row wrap;
  }*/

  .home-page-container-books {
    width: 90%;
    display: grid;
    grid-template-columns: minmax(180px, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin: 0 auto;
    margin-top: 30px;
  }

  @media (min-width: 500px) {
    
    .home-page-container-books{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 800px) {
    
    .home-page-container-books{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1100px) {
    
    .home-page-container-books{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1400px) {
    
    .home-page-container-books{
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
