@import "../../scss/variables.scss";

.header-component-container {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;

  .header-component-subcontainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-content: space-between;
    font-family: $main-font;
    

    .header-logo {
      font-size: 45px;
      color: var(--main-text-color-2);
    }

    .header-nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 60%;
        height: 100vh;
        background: var(--main-bg-2);
        transform: translateX(-100%);
        transition: transform .3s ease;

        ul {
            list-style: none;
        }
    }

    .header-nav.visible {
        transform: translateX(0%);
    }
     
    .header-btn-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
      align-self: center;
      justify-self: center;

      svg {
        fill: var(--main-text-color-2);
        width: 100%;
        height: 100%;
      }
    }

    .header-search-form {
        grid-column: 1 / 3;
        width: 100%;
        justify-self: center;

    }
  }
}
